/* Inspiration: http://typespiration.com/design/faded-sunset/ */

body {
  background-color: rgb(246, 241, 237);
}

h1, h2, h3 {
	color: #30231d;
	font-family: 'Merriweather Sans';
}

blockquote, p, ul, ol {
	font-family: 'Merriweather';
}

h1 {
	font-size: 66px;
	font-weight: 800;
	line-height: 78px;
	letter-spacing: -4px;
	margin-bottom: 66px;
}

h1:after {
	background: #30231d;
	content: '';
	display: block;
	height: 12px;
	margin: 43px 0;
	width: 80px;
}

h2, p, blockquote, ul, ol {
  max-width: 500px;
}

p {
	font-size: 16px;
	font-weight: 500;
	line-height: 30px;
	margin-bottom: 36px;
}

p, a:hover {
	color: #50413c;
}

a {
	color: #cc3914;
}

blockquote {
  border-left: 5px solid #a18c74;
  color: #7d6d5c;
  margin-left: 0px;
  padding-left: 18px;
}

blockquote p {
  color: #a18c74;
}

ol li, ul li {
	font-size: 16px;
	font-weight: 500;
	line-height: 30px;
	margin-bottom: 36px;
}

div.archives ul {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}

div.archives ul li {
  display: inline;
  list-style-type: none;
  margin-left: 0;
  margin-right: 24px;
}